/**
 * @name Portail du Phénix
 * @description Thème Discord Portail du Phénix
 * @author NeoInf3rno
 */

#app-mount {
    background: url("https://raw.githubusercontent.com/NeoInf3rno/Portail-du-Phenix-Discord/refs/heads/main/Royaume%20du%20Ph%C3%A9nix%20de%20Feu.png") center center / cover fixed no-repeat !important;
}

/* Transparence des zones Discord */
[class*="sidebar"] {
    background: rgba(5, 2, 2, 0.60) !important;
}

[class*="chat"],
[class*="chatContent"] {
    background: rgba(0, 0, 0, 0.15) !important;
}

[class*="membersWrap"] {
    background: rgba(5, 2, 2, 0.60) !important;
}

[class*="title"] {
    background: rgba(5, 2, 2, 0.50) !important;
}
